@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '@fortawesome/fontawesome-free/css/all.min.css'; */
@import url('https://fonts.googleapis.com/css2?family=Fantasy&display=swap');

/* #slides{
    animation: scroll 8s linear infinite;
};
@keyframes scroll{
    0% {transform: translateX(0%);
    }
    50% {transform: translateX(-100%);
    }
   100% {transform: translateX(0%);
    }
} */